<section id="responsive" class="overflow-hidden">
  <div class="container px-sm-0">
    <div class="row ms-0 me-0">
      <div class="responsive-img col-lg-6 pe-0 ps-0">
        <img src="assets/responsive-1200-1070.jpg" alt="responsive-img" class="w-100">
      </div>
      <div class="spacer col-1 d-none d-lg-flex pe-0 ps-0"></div>
      <div class="col-lg-5 col-xl-4 responsive-text pe-0 ps-0">
        <div class="responsive-title">
          <h3 class="title">{{'responsive.title' | translate}}</h3>
        </div>
        <div class="responsive-description">
          <p class="description mb-0">{{'responsive.text' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
