$about-us-text-color: black;
$about-us-title-color: black;
$about-us-des-color: #212529;
$light-mac-navbar-bg: #f1f1f1;
$light-mac-navig-color: #cecece;
$about-us-bg: #ffffff;
$des-title-color: #0e0e0e;
$des-text-color: #212529;
$ball-btn-dark-color: white;
$ball-btn-dark-bg: #0e0e0e;
$full-navbar-color: white;
$full-navbar-hover: rgb(110, 109, 109);
$header-text-color: white;
$dark-mac-navbar-bg: #202020;
$dark-mac-navig-color: #3e3e3e;
$menu-style-color: white;
$mobile-nav-color: #0e0e0e;
$ball-btn-light-bg: white;
$toggler-color: white;
$navbar-background: #0e0e0e;
$drop-background: #0e0e0e;
$drop-link-color: rgb(110, 109, 109);
$drop-link-hover: white;
$navbar-link-hover: rgb(110, 109, 109);
$project-show-case-title: white;
$responsive-title-color:  #0e0e0e;
$responsive-text-color: #212529;
$responsive-bg-color: #f5f5f5;
$feature-title-color: #0e0e0e;
$feature-text-color: #444444;
$variety-text-color: white;
$variety-bg-color: #0e0e0e;
